# =========================
# ОС
# =========================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# =========================
# IDE / Editors
# =========================
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ IDEA / PyCharm / WebStorm / PhpStorm
/.idea
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Xcode
*.xcuserdata
*.xcuserstate
*.xcworkspace
*.xcuserdatad
DerivedData/
build/

# Sublime Text
*.sublime-workspace
*.sublime-project

# =========================
# Языки / Сборка
# =========================
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
venv/
ENV/
env/
*.tox
.coverage
htmlcov/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.out
hs_err_pid*
.recommenders/

# C / C++
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.app

# Rust
target/

# Go
bin/
*.test
*.exe

# PHP
/vendor/
composer.lock

# .NET
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.user
*.suo
*.swp

# =========================
# Прочее
# =========================
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.tmp.*
*.pid

# Архивы и временные пакеты
*.tar
*.tgz
*.gz
*.zip
*.7z
*.rar

# Кэш / временные
.cache/
tmp/
temp/

# Базы данных
*.db

# Временные файлы MS Office
~$*
/projects/catalog/backend-python/.vs
*.rtf#
