body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f8f9fa; /* Светло-серый фон */
    color: #343a40; /* Темно-серый цвет текста */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Занимает всю высоту экрана */
}

.profile-container {
    width: 600px;
    background-color: #fff; /* Белый фон контейнера */
    border: 1px solid #dee2e6; /* Более светлый цвет границы */
    padding: 30px;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Мягкая тень */
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #f3009e; /* Синий заголовок */
}

.profile-field {
    margin-bottom: 20px;
}

.profile-field label {
    display: block;
    font-weight: 500; /* Полужирный шрифт */
    margin-bottom: 8px;
    color: #495057; /* Темно-серый цвет label */
}

.profile-field input[type="text"],
.profile-field input[type="email"],
.profile-field input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da; /* Светлый цвет границы */
    border-radius: 6px; /* Скругленные углы */
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Плавные переходы */
    font-size: 16px;
}

.profile-field input[type="text"]:focus,
.profile-field input[type="email"]:focus,
.profile-field input[type="password"]:focus {
    border-color: #f158e7; /* Цвет границы при фокусе */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(221, 0, 255, 0.25); /* Тень при фокусе */
}

.profile-field button {
    background-color: #f3009e; /* Синий цвет кнопки */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out; /* Плавный переход цвета */
}

.profile-field button:hover {
    background-color: #f3009e; /* Затемненный синий цвет при наведении */
}

.profile-field button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}